body{
font-family:Arial;
background:#f4f4f4;
}

.container{

width:500px;
margin:auto;
background:white;
padding:20px;
margin-top:40px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);

}

button{

padding:10px 15px;
margin:5px;
border:none;
border-radius:5px;
cursor:pointer;
background:#4CAF50;
color:white;

}

input{

padding:8px;
margin:5px 0;
width:100%;

}

table{

width:100%;
border-collapse:collapse;

}

td,th{

border:1px solid #ddd;
padding:8px;
text-align:center;

}

.alert{

background:#ffcccc;
color:#900;
padding:10px;
margin:10px 0;
border-radius:5px;
font-weight:bold;
text-align:center;

}